# GameServer config

# TCP port to listen on (IPv4)
listen_port=11020

# Token game_server identifier. Must match loginserver.conf game_server.
game_server=127.0.0.1:11020

# Runtime
io_threads=2

# Logging
log_level=info
log_file=logs/gameserver.log
